<div id="hobbies-container">
  <div id="hobbies-position" class="none">
    <div id="hobbies-content-container">
      <div id="hobbies-title" class="title">My Hobbies</div>
      <div id="hobbies-content">
          <div id="hobbies-imgs">
              <div class="hobbies-img" id="hobbies-img1"></div>
              <div class="hobbies-img" id="hobbies-img2"></div>
              <div class="hobbies-img" id="hobbies-img3"></div>
              <div class="hobbies-img" id="hobbies-img4"></div>

          </div>
        <div id="hobbies-lines">
          <div id="hobbies-line1" class="hobbies-line">
            
            <div id="hobbies-text1" class="hobbies-text-container" (mouseover)="textUp(1,13)" (mouseleave)="textDown(1)">
              <div class="hobbies-text subtitle">Sketching</div>
              <div class="hobbies-description list">I don't take a lot of picure. But I like to walk around and draw the things I find interesting.</div>
            </div>
          </div>
          <div id="hobbies-line2" class="hobbies-line">
            <div id="hobbies-text2" class="hobbies-text-container" (mouseenter)="textUp(2,12)" (mouseleave)="textDown(2)">
              <div class="hobbies-text subtitle" >Cinema</div>
              <div class="hobbies-description list">I always wanted to subscribe to a movie theatre. Until it happen I try to go whenever I can.</div>
            </div>
          </div>
          <div id="hobbies-line3" class="hobbies-line">
            <div id="hobbies-text3" class="hobbies-text-container" (mouseenter)="textUp(3,10)" (mouseleave)="textDown(3)">
              <div class="hobbies-text subtitle">Graphic novel</div>
              <div class="hobbies-description list">One of my favorite is "Portugal" from Cyril Pedrosa</div>
            </div>
          </div>
          <div id="hobbies-line3" class="hobbies-line">
            <div id="hobbies-text4" class="hobbies-text-container" (mouseenter)="textUp(4,12)" (mouseleave)="textDown(4)">
              <div class="hobbies-text subtitle">Travel</div>
              <div class="hobbies-description list">I just started by going in Guinea-Conakry. I like discovering places and other ways of thinking than the one I am uses to.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
