<div id="experience-container" >
    <div id="experience-position" class="none" >
      <div id="experience-timeline-container">
        <div id="experiences-title" class="title">Experiences</div>
        <div id="experience-timeline">
            <div id="experience-timeline-line-time-container">
                <div id="experience-timeline-line-time" class="experience-timeline-line">
                  <div id="experience-year-first" class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2019</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2018</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2017</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2016</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2015</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2014</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2013</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2012</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2011</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2010</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2009</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2008</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2007</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2006</div></div>
                  <div class="experience-year"><div class="experience-timeline-raw"></div><div class=" list">2005</div></div>
                </div>
            </div>
          <!-- line studies -->
          <div id="experience-timeline-line-studies" class="experience-timeline-line">
            <div id="wild-code-school" id="wild-code-school" class="experience-experience">
              <div class="experience-name list">Wild Code School</div>
              <div (click)="wildCodeSchool()" id="wild-code-school-box"class="experience-box"></div>
            </div>
            <div id="pivaut" class="experience-experience">
                <div class="experience-name list">Pivaut school</div>
                <div (click)="pivaut4()" id="pivaut4-box" class="experience-box"></div>
                <div (click)="pivaut3()" id="pivaut3-box" class="experience-box"></div>
                <div (click)="pivaut2()" id="pivaut2-box" class="experience-box"></div>
                <div (click)="pivaut1()" id="pivaut1-box" class="experience-box"></div>
            </div>
            <div id="highschool" class="experience-experience">
                <div class="experience-name list">Highschool</div>
                <div (click)="highschool()" id="highschool3-box"class="experience-box"></div>
                <div (click)="highschool()" id="highschool2-box"class="experience-box"></div>
                <div (click)="highschool()" id="highschool1-box"class="experience-box"></div>
            </div>
          </div>
          <!-- line profesional -->
          <div id="experience-timeline-profesional" class="experience-timeline-line">
            <div id="agence-nature" class="experience-experience">
                <div class="experience-name list">Agence Nature</div>
                <div (click)="agenceNature()" class="experience-box"></div>
            </div>
            <div id="cqfd" class="experience-experience">
                <div class="experience-name list">CQFD</div>
                <div (click)="CQFD2()" id="cqfd2" class="experience-box"></div>
                <div (click)="CQFD1()" id="cqfd1" class="experience-box"></div>
            </div>
            <div id="contrat-bleu" class="experience-experience">
                <div class="experience-name list">Contrats Bleus</div>
                <div (click)="contratsBleus()" class="experience-box"></div>
            </div>
          </div>
          <!-- line other -->
          <div id="experience-timeline-line-others" class="experience-timeline-line">
              <div id="guinee" class="experience-experience">
                  <div class="experience-name list">Voluntary work</div>
                  <div  (click)="voluntaryWork()" class="experience-box"></div>
              </div>
          </div>
          <!-- line other -->
        </div>
      </div>
      <div id="experience-square-elements-container">
            <div id="experience-square-buttons-container">
                    <div id="experience-square-buttons">
                        <div id="experience-square-button-left" class="experience-square-button"></div>
                        <div id="experience-square-button-right" class="experience-square-button"></div>
                    </div>
            </div>
            <div id="experience-square-description-container">
                <div id="experience-square-elements-title" class="subtitle experience-square">{{experienceTitle}}</div>
                <div id="experience-square-elements-date" class="list experience-square">{{experienceDate}}</div>
                <div id="experience-square-elements-text" class="list experience-square">{{experienceText}}</div>
                <div id="experience-square-elements-description" class="list experience-square">{{experienceDescription}}</div>
            </div> 
      </div>
    </div>
</div>
