<div id="contact-container">
    <div id="contact-position" class="none">
        <div id="contact-title" class="title">Contact me</div>
        <div id="contact-email" class="contact-categories-container">
            <div id="contact-email-title" class="contact-categories-title list">E-mail</div>
            <a href="mailto:e.rabin05@gmail.com" id="contact-email" class="contact-link list">e.rabin05@gmail.com</a>
        </div>
        <div id="contact-network" class="contact-categories-container">
            <div id="contact-network-title" class="contact-categories-title list">Social network</div>
            <div class="contact-line"><a href="https://www.linkedin.com/in/etienne-rabin/" id="contact-network" class="contact-link list">Linkedin</a></div>
            <div class="contact-line"><a href="https://www.instagram.com/etiennerbn/" id="contact-network" class="contact-link list">Instagram</a></div>
        </div>
    </div>
</div>
