<div id="book-container">
    <div id="book-position" class="none" >
      <div id="book-images">
        <!-- first column -->
        <div id="book-images-first-column" class="book-image-column">
          <div id="book-images-first-column-square1" class="book-square"></div>
          <div id="book-images-first-column-row" class="book-image-row">
              <div id="book-images-first-column-square2" class="book-square"></div>
              <div id="book-images-first-column-square3" class="book-square"></div>
          </div>
        </div>
        <!-- second column -->
        <div id="book-images-second-column" class="book-image-column">
            <div id="book-images-second-column-row" class="book-image-row">
                <div id="book-images-second-column-square1" class="book-square"></div>
                <div id="book-images-second-column-column" class="book-image-column">
                    <div id="book-images-second-column-square2" class="book-square"></div>
                    <div id="book-images-second-column-square3" class="book-square"></div>
                </div>
            </div>
            <div id="book-images-second-column-square4" class="book-square"></div>

        </div>
        <!-- third column -->
        <div id="book-images-third-column" class="book-image-column">
            <div id="book-images-third-column-square1" class="book-square"></div>
            <div id="book-images-third-column-row1" class="book-image-row">
                <div id="book-images-third-column-square2" class="book-square"></div>
                <div id="book-images-third-column-square3" class="book-square"></div>
            </div>
            <div id="book-images-third-column-row2" class="book-image-row">
                <div id="book-images-third-column-square4" class="book-square"></div>
                <div id="book-images-third-column-square5" class="book-square"></div>
            </div>

        </div>

      </div>
    </div>
</div>
