<div id="skills-container">
  <div id="skills-position">
    <div id="skills-title" class="title">Skills</div>
    <div id="skills-content-container">
      <div id="skills-design" class="skills-categories">
        <div id="skills-design-title" class="subtitle skills-categories-title">Design</div>
        <div id="skills-log-design" class="skills-subcategories">
          <div class="skill-lign">
            <p class="list">Illustrator</p>
            <div class="skill-blocks"><div id="illustrator" class="skill-inner-blocks"></div></div>
          </div>
          <div class="skill-lign">
            <p class="list">Photoshop</p>
            <div class="skill-blocks"><div id="photoshop" class="skill-inner-blocks"></div></div>
          </div>
          <div class="skill-lign">
            <p class="list">Indesign</p>
            <div class="skill-blocks"><div id="indesign" class="skill-inner-blocks"></div></div>
          </div>
          </div>
          <div id="skills-draw-design" class="skills-subcategories">
            <div class="skill-lign">
              <p class="list">Drawing</p>
              <div class="skill-blocks"><div id="drawing" class="skill-inner-blocks"></div></div>
            </div>
            <div class="skill-lign">
              <p class="list">Painting</p>
              <div class="skill-blocks"><div id="painting" class="skill-inner-blocks"></div></div>
            </div>
          </div>
      </div>
      <div id="skills-code" class="skills-categories">
          <div id="skills-code-title" class="subtitle skills-categories-title">Code</div>
          <div id="skills-log-code" class="skills-subcategories">
              <div class="skill-lign">
                <p class="list">HTML/CSS</p>
                <div class="skill-blocks"><div id="htmlcss" class="skill-inner-blocks"></div></div>
              </div>
              <div class="skill-lign">
                <p class="list">JavaScript</p>
                <div class="skill-blocks"><div id="javascript" class="skill-inner-blocks"></div></div>
              </div>
              <div class="skill-lign">
                <p class="list">Java EE</p>
                <div class="skill-blocks"><div id="java" class="skill-inner-blocks"></div></div>
              </div>
              
          </div>
          <div id="skills-fram-code" class="skills-subcategories">
            <div class="skill-lign">
              <p class="list">Bootstrap</p>
              <div class="skill-blocks"><div id="bootstrap" class="skill-inner-blocks"></div></div>
            </div>
            <div class="skill-lign">
              <p class="list">Angular</p>
              <div class="skill-blocks"><div id="angular" class="skill-inner-blocks"></div></div>
            </div>
          </div>
          <div id="skills-code-tools" class="skills-subcategories">
              <div class="skill-lign">
                <p class="list">Git/Github</p>
                <div class="skill-blocks"><div id="git" class="skill-inner-blocks"></div></div>
              </div>
            </div>
      </div>
        <div id="skills-languages" class="skills-categories">
            <div id="skills-languages-title" class="subtitle skills-categories-title">Languages</div>
            <div id="skills-main-languages" class="skills-subcategories">
              <div class="skill-lign">
                <p class="list">French</p>
                <div class="skill-blocks"><div id="french" class="skill-inner-blocks"></div></div>
              </div>
              <div class="skill-lign">
                <p class="list">English</p>
                <div class="skill-blocks"><div id="english" class="skill-inner-blocks"></div></div>
              </div>
            </div>
            <div id="skills-main-languages" class="skills-subcategories">
              <div class="skill-lign">
                <p class="list">Poulo (Guinea)</p>
                <div class="skill-blocks"><div id="poulo" class="skill-inner-blocks"></div></div>
              </div>
            </div>
        </div>
    </div>
  </div>
</div>
