* {
    color:#fff;
}

#hello-container{
    position: relative;
}
#hello-position{
    position: absolute;
    width: 50%;
    height: 55vh;
    margin-left:20%;
    margin-top:18vh;
    transition:2s;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#hello-text{
    margin-bottom: 2vh;
    opacity: 0;
    transition: 2s;
}
#hello-text1{
    opacity: 0;
    transition: 2s
}
#hello-text2{
    opacity: 0;
    transition: 2s;
}
