<div id="fact-container" class="none">
  <div id="fact-position">
    <div id="fact-content-container">
        <div id="fact-content1" class="fact-content">
          <div class="fact-title title">I am Creative,</div>
          <div class="fact-text list">As far as I can remember the first drawing I was proud of looked like that :</div>
          <div id="fact-img1" class="fact-img"></div>
        </div>
        <div id="fact-content2" class="fact-content">
            <div id="fact-img2" class="fact-img"></div>
            <div class="fact-title title">Curious</div>
            <div class="fact-text list">Do you know that the dimension of a merchandise container is 12.2m/2.4m/2.6m ? Pretty useful, doesn't it ?</div>
        </div>
        <div id="fact-content3" class="fact-content">
            <div class="fact-title title">and Peacefull</div>
            <div class="fact-text list">In primary school one of my teacher wrote on my report that I was (in french) "Sage comme une image", which translate into good as gold. </div>
            <div id="fact-img3" class="fact-img"></div>
        </div>
    </div>
  </div>
</div>
